.DS_Store
.git
node_modules/
dist/
dev-dist/
.cache/
.output/
.astro
.turbo
out/
.vinxi/
.tanstack
.nitro

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# vercel
.vercel
.next/
next-env.d.ts

# Cloudflare
worker-configuration.d.ts
.mf
.wrangler

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
deno.lock
bun.lock

# environment variables
# .env
.env.local
.env.production

# DB
.drizzle/

.cursorrules
