.DS_Store
node_modules/
.pnp/
.pnp.js/
*.pem

# build
build/
package/
dist/
dist-ssr/
.output/
.wrangler

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
deno.lock

# environment variables
# .env
.env.local
.env.production

# DB
.drizzle/

.vitest/

# playwright
test-results/
playwright-report/
blob-report/
