@use '../variables' as *;

.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient($yellowTrans, $yellowTrans),
    url('./img/headerBcg.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.banner {
  color: $mainWhite;
  margin-top: -4rem;
}
.banner-title {
  color: $mainPink;
  font-size: 4rem;
}
.banner-link {
  color: $mainBlack;
  font-size: 1.5rem;
  border: 0.2rem solid $mainBlack;
  &:hover {
    color: $mainPink;
    background-color: $mainBlack;
  }
}
