@use '../variables' as *;

.navbar-toggler {
  outline: none !important;
  color: $mainPink;
  font-size: 2.5rem;
}
.nav-link {
  color: $mainPink;
  font-size: 1.5rem;
  transition: all 1s ease-in-out !important;
  &:hover {
    color: $mainBlack;
  }
}

#cart-info {
  border: 0.1rem solid $mainBlack;
  color: $mainBlack;
  border-radius: 0.25rem;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  &:hover {
    border-color: $mainPink;
    background: $mainPink;
    color: $mainWhite;
  }
}
