@use '../variables' as *;

.service-container {
  color: $mainWhite;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.6)),
    url('./img/servicesBcg.jpeg');
  background-size: cover;
  background-blend-mode: color;
}
